<script src= {{ url_for('static',filename='js/replay_buffer_state_counts.js') }}></script>
<link rel= "stylesheet" type= "text/css" href= {{ url_for('static',filename='css/replay_buffer_state_counts.css') }}>

{% extends 'base.html' %}

{% block title %}Sibyl: Replay Buffer State Counts{% endblock %}

{% block navigation_replay_buffer_state_counts %}navigation-active{% endblock %}

{% block content %}
    <div id="loading" class="message-banner hidden">Loading...</div>
    <div id="load-error" class="message-banner hidden">Load Error</div>
    <div id="welcome">Replay Buffer State Counts</div>

    <div class="interactive-tools">
      <div class="control">
	<button class="control-label" onclick="update_plots()">
	  Update Plots
	</button>
      </div>
      <div class="control">
    <select id="experiment-name" class="control-select">
	  {% for experiment_name in experiment_names %}
	  <option value="{{experiment_name}}" {{'selected' if experiment_name == selected_experiment_name else ''}} >{{experiment_name}}</option>
	  {% endfor %}
	</select>
      </div>

    <div id="plots-holder"></div>
    <div id="histogram-holder" width="700px"></div>
    <div id="state-holder" width="700px"></div>

    <script>
      $( document ).ready(function() {
	  update_plots();
      });
    </script>

{% endblock %}
