body {
    background-color: black;
    color: white;
}

#navigation-bar {
    clear: both;
    font-size: 20px;
    width: 100%;
}

.navigation {
    border: solid grey 2px;
    float: left;
    margin: 2px;
    border-radius: 25px;
    background-color: lightgray;
    color: black;
    padding: 15px;
}

.navigation-active {
    background-color: darkgray;
}

#welcome {
    clear: both;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    float: left;
}

#navigation-links {
    float: right;
}

#current-experiment-name-holder {
    clear: both;
    float: left;
    padding: 10px;
    font-style: italic;
    font-size: 22px;
}

#current-experiment-name-label {
    float: left;
}

#current-experiment-name {
    float: left;
    padding-left: 4px;
    font-weight: bold;
}

.interactive-tools {
    clear: both;
    border: solid white 2px;
    overflow: hidden;
}

.control {
    float: left;
    padding: 10px;
}

.control-label {
    float: left;
    font-size: 18px;
    padding: 10px;
}
.control-input {
    float: left;
    padding: 10px;
}
.control-select {
    float: left;
    padding: 10px;
    font-size: 14px;
}
.control-function-body-input {
    float: left;
    padding: 10px;
    width: 800px;
    height: 200px;
    clear: both;
}

#plots-holder {

}

.plots-row {
    clear: both;
    padding: 20px;
    overflow:auto; 
}

.plots-row-background-0 {
    background-color: black;
}

.plots-row-background-1 {
    background-color: #222222;
}

.button-selected {
    background-color: darkgray;
}

.button-unselected {
    background-color: lightgray;
}

#experiment-name {
    width: 500px;
}

.message-banner {
    padding: 1px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    width: 100%;
}

#loading {
    background-color: green;
}

#load-error {
    background-color: red;
}

.hidden {
    display: none;
}

.plot-holder-metric {
    float: left;
}

.plot-holder-metric-default-width {
    width: 22%;
}

.plot-holder-metric-full-width {
    width: 100%;
}

.plot-holder-state {
    float: left;
    width: 10%;
}

.state-plot-info {
    clear: both;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.state-plot-state {
    clear: both;
    float: left;
}

.plot-canvas {
    float: left;
    width: 100%;
}

